.dashboard-container{
    width: 100%;
    height: 100vh;
    background-image: url('../../Assets/Images/backgroundImage.jpg');

    .dashboard-header{
        padding-top: 2rem;
        font-size: 2.5rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .table-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
    }

    .dashboard-page-number-container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .dashboard-page-number-text{
            width:75%;
            text-align: end;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .buttons-container{

        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .button-image{
            width: 52px;
            height: 52px;
        }

        .margin-right{
            margin-right: 2rem;
        }

        .button-hover:hover{
            width: 70px;
            height: 70px;
        }
    }
}