.table-component-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .table-class{
        /* width: 60%; */
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: white;
        th:first-child {
            border-top-left-radius: 1rem;
        }
        th:last-child {
            border-top-right-radius: 1rem;
        }

        th{
            color: white;
            background-color: #6898f3;
            font-weight: 500;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.5rem;
        }
        th,td{
            padding: 1.5rem 1rem;
            font-weight: 400;
        }
        td{ 
            border-bottom: 1px solid #ddd;
        }
        tr{
            background-color: white;
        }

        tr:hover{
            background-color: #ddd;
        }

        td:first-child {
            border-right: 1px solid #ddd;
        }
        td:last-child{
            border-left: 1px solid #ddd;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 1rem;
        }
        tr:last-child td:last-child {
            border-bottom-right-radius: 1rem;
        }

    }
}